<div class="row">
    <div class="col-xs-12">
        <h3>What's happening?</h3>
        <%= form_for @event do |f| %>
            <div class="form-group">
                <label>Event name</label>
                <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="form-group">
                <label>Event details</label>
                <%= f.text_area :description, class: 'form-control' %>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6">
                        <label>Starts at</label>
                        <%= f.datetime_local_field :starts_at, min: DateTime.current, class: 'form-control' %>
                    </div>
                    <div class="col-xs-6">
                        <label>Ends at</label>
                        <%= f.datetime_local_field :ends_at, min: DateTime.current, class: 'form-control' %>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6">
                        <%= f.select :location_id,
                                     @locations.collect {|location| [location.name, location.id]},
                                     { include_blank: 'Add or select Location' },
                                     class: 'form-control' %>
                    </div>
                    <div class="col-xs-6">
                        <%= f.fields_for :location do |ff| %>
                            
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <%= f.submit "Create Event", class: 'btn btn-primary' %>
            </div>
        <% end %>
    </div>
</div>